<div class="col-xs-12 col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Geolocator</h3>
    </div>
    <div class="panel-body">
      <div>
        <ng4geo-autocomplete [userSettings]="userSettings" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
      </div>
      <div class="well" style="float: left;width: 100%;margin-top: 20px;">
        <p>Output:</p>
        <samp style="word-wrap: break-word;">{{componentData1}}</samp>
      </div>
    </div>
  </div>
</div>